<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Dear {<%= firstName %>},</h1>
    <p>Thank you for choosing E-Macdino Laundry Services!</p>
    <p>
      We are pleased to confirm that your laundry service request has been
      received. Below is your ORDER NUMBER:
    </p>
    <p><strong><%= orderNo %></strong></p>
  </body>
</html>
